.container-collaboration {
    display: flex;
    background: var(--collaboration-bg-color);
    padding-left: 20px;
    padding-right: 20px;
}

.img-container {
    display: flex;
    flex-wrap: wrap; 
    justify-content: space-between; 
    gap: 20px;
}

.img-container > div {
    flex: 1 1 300px;
    max-width: 700px; 
    min-width: 300px;
}

.button-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

@media (max-width: 900px) {
    .img-container {
        flex-direction: column;
    }
}
