.dropdown {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    border: 1px solid var(--border-color);
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
    width: 160px;
    padding-top: 7px;
    padding-bottom: 7px;
}


.dropdown-content {
    color: var(--dropdown-text-color);
    font-size: 14px;
    padding: var(--spacing-small);
    text-decoration: none;
    display: block;
    padding-left: 20px;
}

.dropdown-content:hover {
    background-color: var(--dropdown-bg-color);
}