:root {
    --primary-color: #222222; /* Main background color */
    --secondary-color: #959595; /* Text color */
    --hover-color: white; /* Hover background color */
    --active-link-color: white; /* Active link color */
    --active-link-bg-color: black;
    --dropdown-bg-color: #eeeeee; /* Background color for dropdown */
    --dropdown-text-color: black; /* Hover color for dropdown items */
    --service-bg-color: black;
    --search-bg-color: white; /* Background color for search input */
    --search-hover-bg-color: #eeeeee; /* Hover color for search button */
    --border-color: black; /* Border color for dropdown */

    --engage-bg-color: #9acd32;
    --engage-font-color : #adff33;
    --engage-button-bg-color: #347ab6;
    --engage-button-text-color: white;
    --engage-button-border-color: #3470ac;
    --engage-button-hover-bg-color: #1e4d79;

    --collaboration-bg-color: white;
    --collaboration-font-color: black;
    --collaboration-section-color: #707981;
    --collaboration-text-color: #959595;
    --collaboration-link-color: #377ab1;
    --collaboration-link-hover-color: #20547b;
    

    /* Spacing */
    --spacing-small: 5px;
    --spacing-medium: 15px;
    --spacing-large: 20px;

    /* Sizing */
    --header-height: 50px;
    --button-height: 34px;
    --button-width: 70px;
    --search-width: 196px;
}